name: Publish to hendry/version-embed

on:
    push:
      branches: ['main']

env:
    KO_DOCKER_REPO: hendry/version-embed
  
jobs:
    publish:
        name: Publish
        runs-on: ubuntu-latest
        steps:
        - uses: actions/setup-go@v4
          with:
            go-version: 'stable'
        - uses: actions/checkout@v3
        - uses: ko-build/setup-ko@v0.6
        - run: ko build --bare